.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  height: 100px;
}

.card img {
  height: 200px;
  width: 126px;
}

.card {
  margin-top: 30px;
  margin-bottom: 20px;
}

.card img:hover {
  border: solid black 1px;
}
.load {
  margin-top: 100px;
}

/* @media (max-width: 576px) {
  .card img {
    height: 100px;
    width: 63px;
  }
} */
